@model PdfModel


<!DOCTYPE html>
<html>
<head>
    <title>Relatório com Formulário</title>
    <style>
        header {
            display: none;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h2 {
            color: rgb(0,0,0);
            padding: 10px;
            text-align: center;
        }

        h3 {
            color: #555;
            padding: 10px;
            font-weight: 600;
        }

      

        form {
            margin-top: 20px;
        }

        label {
           
            margin-bottom: 10px;
            padding:5px;
        }

       

        input[type="text"], textarea {
           
            
            border: none;
            font-weight: 700;
        }



        .myTextarea {
          
            height: auto;
            overflow: hidden;
            border: solid 1px #bbb;
            color: black;
            width:100%;
            text-size-adjust:auto;
        }

        

      

        /* checkbox-rect */
        .checkbox-rect input[type="checkbox"] {
            display: none;
        }

        .checkbox-rect label {
            font-weight:700;
            color:black;
        }

            .checkbox-rect input[type="checkbox"] + label {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 20px;
                font: 14px/20px "Open Sans", Arial, sans-serif;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }

            .checkbox-rect input[type="checkbox"]:hover + label:hover {
                color: rgb(23, 86, 228);
            }

            .checkbox-rect input[type="checkbox"]:hover + label:before {
                background: #50565a;
                box-shadow: inset 0px 0px 0px 2px #f7f2f2;
            }

            .checkbox-rect input[type="checkbox"] + label:last-child {
                margin-bottom: 0;
            }

            .checkbox-rect input[type="checkbox"] + label:before {
                content: "";
                display: block;
                width: 1.4em;
                height: 1.4em;
                border: 1px solid #343a3f;
                border-radius: 0.2em;
                position: absolute;
                left: 0;
                top: 0;
                -webkit-transition: all 0.2s, background 0.2s ease-in-out;
                transition: all 0.2s, background 0.2s ease-in-out;
                background: #f3f3f3;
            }

            .checkbox-rect input[type="checkbox"]:checked + label:before {
                width: 1.3em;
                height: 1.3em;
                border-radius: 0.2em;
                border: 2px solid #fff;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                background: #50565a;
                box-shadow: 0 0 0 1px #000;
            }
       
       
         
          
            
    </style>
</head>
<body>
    
    <div id="titles">
        <h2>Encargo de Oficina  </h2>
    </div>
   <hr />
    <div class="forma">
        <div>
            <label for="encargo">Nº Encargo:</label>
            <input type="text" id="encargo" name="encargo" value="@Model.Encargo.nrEncargo" readonly>
        </div>
        <div>
            <label for="nome">Requerente:</label>
            <input type="text" id="nome" name="nome" value="@Model.Encargo.entidade" readonly>
        </div>
        <div>
            <label for="molde">Molde:</label>
            <input type="text" id="molde" name="molde" value="@Model.Encargo.molde" readonly>
        </div>
        <div>
            <label for="data">Data:</label> <input type="text" id="data" name="data" value="@DateOnly.FromDateTime(@Model.Encargo.data)">
        </div>
       
        

    </div>
   
    @if (@Model.interAll != null)
    {

        int count = 1000;
        for (int x = 0; x < @Model.interAll.Count; x++)
        {
            <hr />
            <div >
              
                    <h3 id="titles" style="margin-top:10px;"   >
                        @(x + 1)ª Intervenção
                    </h3>
        
                <div >
                    <div >
                        <div >
                            <div >
                                <label for="Responsavel" >Responsável:</label>
                                <input type="text" id="Responsavel" name="Responsavel" value="@Model.interAll[x].utilizador" readonly>
                            </div>

                            <div>
                                <label for="dataint">Data:</label>
                                <input type="text" id="dataint" name="dataint" value="@DateOnly.FromDateTime(@Model.interAll[x].data)" readonly>
                            </div>

                            

           

                        </div>



                     

                        <div >
                          
                                <h3 id="titles" >
                                    @(x + 1)ª Validação da Produção
                                </h3>
                           
                            <div>
                                <div >
                                    <div>
                                        <div>
                                            <label for="ResponsavelVal" >Responsável:</label>
                                            <input type="text"  id="ResponsavelVal" name="ResponsavelVal" value="@Model.interAll[x].respValProd" readonly>
                                        </div>

                                        <div>
                                            <label for="dataval">Data:</label>
                                            <input type="text" id="dataval" name="dataval" value="@DateOnly.FromDateTime(@Model.interAll[x].dataValProd)" readonly>
                                        </div>

                                        


                                        
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.Encargo.validQual == 1)
                        {
                            <div>
                              
                                    <h3 id="titles" >
                                        @(x + 1)ª Validação da Qualidade
                                    </h3>
                               
                                <div >
                                    <div>

                                        <div >
                                            <div >
                                                <label for="ResponsavelVal" >Responsável:</label>
                                                <input type="text"  id="ResponsavelVal" name="ResponsavelVal" value="@Model.interAll[x].respValQual" readonly>
                                            </div>

                                            <div>
                                                <label for="dataval">Data:</label>
                                                <input type="text" id="dataval" value="@DateOnly.FromDateTime(@Model.interAll[x].dataValQual)" readonly>
                                            </div>

                                            


                                           
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            count = count + 1000;

        }
    }

   
    <script>
        const textarea = document.getElementById("myTextarea");

        textarea.addEventListener("input", function () {
            textarea.style.height = "auto";
            textarea.style.height = textarea.scrollHeight + "px";
        });
    </script>
</body>
</html>