@model EncargoViewModel

<head>
    <style>

        .col-auto {
            width: 120px;
            height: 120px;
        }

        #hov {
            width: 100%;
            height: 80px;
            object-fit: cover;
            transition: width .35s ease, height .35s ease
        }

            #hov:hover {
                height: 100px;
                object-fit: cover;
            }
    </style>
</head>
<body>
    <div class="container ">
        <main>
            <div class="row g-5 justify-content-center mt-1 ">
                <div class="col-md-7 col-lg-8 py-5 shadow-lg s mt-3 bg-white">
                    @if (@TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["ErrorMessage"]
                        </div>
                    }

                    <h5 class="mb-3">Encargo de Oficina</h5>
                    <div class="row g-3">
                        <div class="col-4">
                            <label for="Responsavel" class="form-label">Requerente </label>
                            <input type="text" class="form-control" id="Responsavel" name="entidade" value="@Model.entidade" readonly>
                        </div>

                        <div class="col-4">
                            <label for="molde" class="form-label">Molde </label>
                            <input type="text" class="form-control" id="molde" name="molde" value="@Model.molde" readonly>
                        </div>

                        <div class="col-12">
                            <label for="descProblema" class="form-label">Descrição do Problema</label>
                            <input type="text" class="form-control" id="descProblema" name="descProblema" value="@Model.descProblema" readonly style="height:max-content"></input>
                        </div>

                        <div class="col-6">
                            <label for="dataNecMeio" class="form-label">Data Necessidade Meio</label>
                            <input type="text" class="form-control" id="dataNecMeio" name="dataNecMeio" value="@DateOnly.FromDateTime(@Model.dataNecMeio)" readonly>
                        </div>

                        <div class="col-md-4">
                            <label for="estadoEnc" class="form-label">Estado</label>
                            <input type="text" class="form-control" id="estadoEnc" name="estadoEnc" value="@Model.estado" readonly>
                        </div>

                        <div class="col-12">
                            <div class="row m-auto">
                                @if (@ViewBag.encReq != null)
                                {
                                    @for (int x = 0; x < @ViewBag.encReq.Count; x++)
                                    {
                                        <div class="form-check col-4">
                                            <input type="checkbox" class="form-check-input" name=">@ViewBag.encReq[x].desc" checked onclick="return false;" id=">@ViewBag.encReq[x].desc">
                                            <label class="form-check-label" for=">@ViewBag.encReq[x].desc">@ViewBag.encReq[x].desc</label>
                                        </div>
                                    }
                                }
                                @{
                                    @if (@ViewBag.intervencoes != null)
                                    {
                                        @for (int x = 0; x < @ViewBag.intervencoes.Count; x++)
                                        {
                                            <div class="form-check col-4">
                                                <input type="checkbox" class="form-check-input" name=">@ViewBag.intervencoes[x].desc" readonly onclick="return false;" id=">@ViewBag.intervencoes[x].desc">
                                                <label class="form-check-label" for=">@ViewBag.intervencoes[x].desc">@ViewBag.intervencoes[x].desc</label>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>

                        <div class="container-md mt-2">
                            @if (@ViewBag.anexos != null)
                            {
                                <h6 class="mb-3 mt-2 mb-2">Anexos de Encargo</h6>

                                <div class="row justify-content-center">
                                    @for (int x = 0; x < @ViewBag.anexos.Count; x++)
                                    {
                                        <div class="col-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop@(x)">
                                            <img src="/imagens/@ViewBag.anexos[x].desc" id="hov" />
                                        </div>
                                    }
                                </div>
                                @for (int x = 0; x < @ViewBag.anexos.Count; x++)
                                {
                                    <div class="modal fade" id="staticBackdrop@(x)" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content" style="background-color:transparent; border-color:transparent">

                                                <div class="modal-body">
                                                    <img src="/Imagens/@ViewBag.anexos[x].desc" width="100%" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
